html, body, ul, li {
    margin: 0;
    padding: 0;
}

.siteContainer {
	max-width: 1080px;
	width: 100%;
	margin: 0 auto;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.clearBoth {
	clear: both;
	
}

/* container styles */
.container {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	padding: 5px 0;
}

.oneFourth {
	width: 20%;
}

.imgOneThird {
	width: 31%;
	margin: 0 1%;
}

.oneHalf {
	width: 50%;
	margin: 0 5%;
}

.imgOneHalf {
	width: 45%;
	margin: 0 2.5%;
}

.threeFourths {
	width: 75%;
	margin-right: 5%;
}

.fullWidth {
	width: 100%;
}

/* end container sytles */

/* banner */
.bannerImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.region-banner .block .content p {
	padding: 0;
}

/* end banner */

/* content syles */
.mainContent {
	padding: 0 1em;
}

/* end content sytles */

/* footer styles */
.footer p {
	display: inline;
	float: left;
	margin: 15px 0;
	padding: 20px 0;
	font-size: 1em;
	width: 100%;
	text-align: center;
}

/* end footer sytles */

img {
	width: 100%;
}