/* box shaodw styles */
.shadowLeft {
	-webkit-box-shadow: -12px 2px 5px 0px rgba(0,0,0,0.50);
	-moz-box-shadow: -12px 2px 5px 0px rgba(0,0,0,0.50);
	box-shadow: -12px 2px 5px 0px rgba(0,0,0,0.50);
}

.shadowRight {
	-webkit-box-shadow: 12px 2px 5px 0px rgba(0,0,0,0.50);
	-moz-box-shadow: 12px 2px 5px 0px rgba(0,0,0,0.50);
	box-shadow: 12px 2px 5px 0px rgba(0,0,0,0.50);
}

.shadowAllSides {
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.75);
}

/* end box shaodw styles */

/* nav bar styles */
.nav {
	margin-bottom: 25px;
}

/*Strip the ul of padding and list styling*/
.nav ul {
	list-style-type:none;
	margin: 1% 0;
	padding: 0;
	overflow: hidden;
}

/*Create a horizontal list with spacing*/
.nav ul li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

/*Style for menu links*/
.nav ul li a {
	display:block;
	min-width:99px;
	width: 10%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: 'MarketDeco';
	text-transform: uppercase;
	color: #ffffff;
	background: #4C1961;
	text-decoration: none;
}

/*Hover state for top level links*/
.nav ul li:hover a {
	background: #125F10;
}

/*Style for dropdown links*/
.nav ul li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
.nav ul li:hover ul a:hover {
	background: #19c589;
	color: #fff;
}


/* end nav styles */

h1, h2, h3, h4, h5, h6 {
	color: #125F10;
	font-family: 'MarketDeco';
}

h1 {	
	text-transform: uppercase;
}